[submodule "EmbeddedProto"]
	path = EmbeddedProto
	url = github:Embedded-AMS/EmbeddedProto.git
[submodule "pico-sdk"]
	path = pico-sdk
	url = github:raspberrypi/pico-sdk.git
[submodule "FreeRTOS"]
	path = FreeRTOS
	url = github:FreeRTOS/FreeRTOS.git
